<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head th:replace="~{fragments/head :: head('Home')}"></head>
    <!--
    <additions>
        Dicione css e js exclusivos a esta pagina caso nescessario-
    </additions>
    -->
<body>
    <div th:insert="fragments/header :: Header"></div>

    <div class="container mt-5 form" >


        <form th:action="@{/Usuario/Salvar}" method="post" th:object="${usuario}">

            <input type="hidden" th:value="${operacao}" name="operacao" />

            <div class="mb-3">
                <label for="nome" class="form-label"> Nome </label>
                <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" th:field="*{nome}" required >
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label"> Email </label>
                <input type="text" class="form-control" id="email" placeholder="Digite seu email" th:field="*{email}"  required>
            </div>

            <div class="mb-3">
                <label for="senha" class="form-label"> Senha </label>
                <input type="password" class="form-control" id="senha" placeholder="Digite uma senha" th:field="*{senha}"  required>
            </div>

            <div class="mb-3">
                <label for="telefone" class="form-label"> Telefone </label>
                <input type="tel" class="form-control" id="telefone" placeholder="Digite seu telefone" th:field="*{telefone}" required>
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>

        </form>



    </div>

    <div th:insert="fragments/Footer :: Footer"></div>


</body>
</html>