<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head th:replace="~{fragments/head :: head('Login')}"></head>
    <!--
    <additions>
        Dicione css e js exclusivos a esta pagina caso nescessario-
    </additions>
    -->
<body>
    <div th:insert="fragments/header :: Header"></div>

    <div class="container mt-5 form" >

        <input type="hidden" th:value="${erro}" name="erro" id="erro" />

        <form th:action="@{/Usuario/Autenticar}" method="post" th:object="${usuario}">

            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu email" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha" required>
            </div>

            <button type="submit" class="btn btn-primary">Fazer Login</button>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        </form>



    </div>

    <script th:src="@{/js/FormFunc.js}"></script>
    <div th:insert="fragments/Footer :: Footer"></div>


</body>
</html>