<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head th:replace="~{fragments/head :: head('Perfil')}"></head>
    <!--
    <additions>
        Adicione css e js exclusivos a esta página, caso necessário.
    </additions>
    -->
<body>
    <div th:insert="fragments/header :: Header"></div>

    <div class="container mt-5 form">
        <!-- Exibição da foto de perfil -->
        <div class="mb-3">
            <label for="imagem" class="form-label">Imagem de Perfil</label>
            <img th:src="|data:image/png;base64,${usuario.fotoBase64}|" alt="Imagem de Perfil" style="max-width: 200px; border-radius: 8px;" />
        </div>

        <!-- Exibição do nome -->
        <div class="mb-3">
            <label for="nome" class="form-label"> Nome </label>
            <input type="text" class="form-control" id="nome" th:value="${usuario.nome}" readonly />
        </div>

        <!-- Exibição do email -->
        <div class="mb-3">
            <label for="email" class="form-label"> Email </label>
            <input type="text" class="form-control" id="email" th:value="${usuario.email}" readonly />
        </div>

        <!-- Exibição do telefone -->
        <div class="mb-3">
            <label for="telefone" class="form-label"> Telefone </label>
            <input type="tel" class="form-control" id="telefone" th:value="${usuario.telefone}" readonly />
        </div>

        <!--Botões que apenas o adm ou usuario dono tem acesso-->
        <div name="BotoesControle" class="mb-3" style="display: flex; gap: 10px;" th:if="${usuarioLogado.id == usuario.id || usuarioLogado.Adm == true}">
            <a th:href="@{/Usuario/Editar(id=${usuario.id})}" class="btn btn-secondary">Editar Perfil</a>
            
            <form th:action="@{/Usuario/Excluir(id=${usuario.id})}" method="post"
                onsubmit="return confirm('Tem certeza que deseja excluir seu perfil?')">
                
                <!-- Simula método DELETE -->
                <input type="hidden" name="_method" value="delete" />
                
                <!-- CSRF -->
                <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                
                <button type="submit" class="btn btn-danger">Excluir Perfil</button>
            </form>
            <!--Mudar status de adm-->
            <a th:href="@{/Usuario/MudarAdm(id=${usuario.id}, status=${true})}" th:if="${usuarioLogado.Adm == true and usuario.Adm == false}" class="btn btn-secondary">Tornar administrador</a>
            <a th:href="@{/Usuario/MudarAdm(id=${usuario.id}, status=${false})}" th:if="${usuarioLogado.Adm == true and usuario.Adm == true}" class="btn btn-secondary">Remover administrador</a>

        </div>


    </div>

    <script th:src="@{/JS/Form.js}"></script>
    <div th:insert="fragments/Footer :: Footer"></div>
    

</body>
</html>
